<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.jzdayz.mybatis.TestMapper">
    <select id="all" resultType="io.github.jzdayz.mybatis.Test">
        select * from test
    </select>
    <select id="one" resultType="io.github.jzdayz.mybatis.Test">
        select * from test limit 1
    </select>
    <select id="map" resultType="map">
        select * from test where id = #{id}
    </select>
    <insert id="insert" parameterType="io.github.jzdayz.mybatis.Test" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `test`.`test`(`id`, `name`) VALUES (null, #{name});
    </insert>

    <select id="mapAll" resultType="io.github.jzdayz.mybatis.Test">
        select * from test
    </select>

    <insert id="insertBase">
        INSERT INTO test
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="name1 != null">name1,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="name1 != null">#{name1},</if>
        </trim>
    </insert>
</mapper>