<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -- %msg%n</pattern>
        </encoder>
    </appender>

<!--    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
<!--        &lt;!&ndash;可以访问的logstash日志收集端口&ndash;&gt;-->
<!--        <destination>localhost:4560</destination>-->
<!--        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder">-->
<!--            &lt;!&ndash;自定义字段，区分应用名称&ndash;&gt;-->
<!--            <customFields>{"appname":"logdemo"}</customFields>-->
<!--        </encoder>-->
<!--    </appender>-->

    <root level="info">
        <appender-ref ref="STDOUT" />
<!--        <appender-ref ref="LOGSTASH" />-->
    </root>
</configuration>